* {
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
}

a.about {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: #202124;
  margin-left: 15px;
  text-decoration: none;
}

a.store {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: #202124;
  text-decoration: none;
}

.navbar-right {
  margin-left: 70%;
  display: inline-block;
  flex-direction: row;
  flex-grow: 1;
}

a.gmail {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: #202124;
  text-decoration: none;
}

a.images {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: #202124;
  text-decoration: none;
}

div.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: auto;
}

#form {
  padding-top: 6px;
  width: 640px;
  margin: 0 auto;
}

div.form {
  padding: 20px;
  margin: 0 auto;
  width: 640px;
}
input {
  display: flex;
  width: auto;
  max-width: 584px;
  position: relative;
  height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 584px;
  background-color: transparent;
  word-wrap: break-word;
  outline: none;
  font-size: 16px;
  white-space: pre;
  padding-left: 15px;
}

input:hover {
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
}
input:focus {
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  opacity: 70%;
  margin: 10px 5px;
  padding: 8px 20px;
}

button:hover {
  border: 1px solid #8888887f;
  box-shadow: 0px 1px 0px rgba(33, 33, 33, 0.2);
}

.empty-space {
  margin-top: 200px;
}
